div.cuerpo > div:first-child >label > img {
    height: 50px;
    width: 50px;
}



@media screen and (min-width: 1000px) {

    div.cuerpo {
        align-items: center;
        justify-content: center;
        height: 70%;
        background-color: #9AB1ED;
        display: flex;
        gap: 10em;
    }

    div.cuerpo > div:first-child {
        text-align: center;
        justify-content: center;
        gap: 10px;
        height: 20em;
        border: 4px solid #123A63;
        background-color: white;
        padding: 40px;
        border-radius: 40px;
        width: 10em;
        align-items: center;

    }

    div>div>input {
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 20em;
        border: 4px solid #123A63;
        background-color: white;
        padding: 40px;
        border-radius: 40px;
        width: 10em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 4px solid #123A63;
        background-color: white;
        padding: 40px;
        border-radius: 40px;
    }

    form>h2 {
        font-family: 'Righteous';
        font-size: 24px;
        font-size: x-large;
    }

    form>input {
        padding: 10px;
        border: 2px solid #123A63;
        background-color: white;
        font-family: 'Righteous';
        font-size: 24px;
        width: 7em;
        height: 0.8em;
        font-size: x-large;
        text-align: center;
    }

    form>input:nth-child(5) {
        color: white;
        background-color: #123A63;
        width: 7em;
        height: 2em;
        font-size: x-large;
        text-align: center;
    }

    form>a:visited,
    form>a:hover,
    form>a:active,
    form>a:link {
        text-decoration: none;
        color: black;
        align-self: center;
    }

}

@media screen and (max-width: 999px) {

    div.cuerpo {
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 70%;
        background-color: #9AB1ED;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    div.cuerpo > div:first-child {
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 1.5em;
        border: 4px solid #123A63;
        background-color: white;
        border-radius: 40px;
        width: 10em;
    }

    div.a {
        order: 3;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 10em;
        border: 4px solid #123A63;
        background-color: white;
        border-radius: 40px;
        width: 10em;
    }

    div.b {
        order: 2;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 5em;
        border: 4px solid #123A63;
        background-color: white;
        border-radius: 30px;
        width: 19em;
    }

   
    div>div.a>label {
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 5em;
        border: none;
        width: 5em;
    }

    div>div.b>input {
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 5em;
        background-color: white;
        border: none;
        width: 19em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        border: 4px solid #123A63;
        background-color: white;
        padding: 40px;
        border-radius: 40px;
    }

    form>h2 {
        font-family: 'Righteous';
        font-size: 24px;
        font-size: x-large;
    }

    form>input {
        padding: 10px;
        border: 2px solid #123A63;
        background-color: white;
        font-family: 'Righteous';
        font-size: 24px;
        width: 7em;
        height: 0.8em;
        font-size: x-large;
        text-align: center;
    }

    form>input:nth-child(5) {
        color: white;
        background-color: #123A63;
        width: 7em;
        height: 2em;
        font-size: x-large;
        text-align: center;
    }

    form>a:visited,
    form>a:hover,
    form>a:active,
    form>a:link {
        text-decoration: none;
        color: black;
        align-self: center;
    }

}